// divs that are direct descendents of ReactModalPortal (no children of children)
.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

// to open the model using the transition
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

// to close the modal using transition, works with the OptionModal.js closeTimeoutMS property
.ReactModalPortal .ReactModal__Overlay--after-close {
    opacity: 0;
}

.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title{
    margin: 0 0 $m-size 0;
}

.modal__body{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all;
    
}
